<div class="col-xs-7 col-sm-7 col-md-4 col-xs-offset-4 col-sm-offset-4  col-md-offset-7signup-form">
	<div class="headers text-center">
		<h1>Edit your profile</h1>
	</div>

	<% if @twitter_count == 0 %>
		<%= form_for :user, url: '/twitter' do |f| %>
			<%= f.label :twitter_username %>
			<%= f.text_field :twitter_username, class: "form-control" %>
			<%= f.submit "Retrieve Tweets", class: 'btn btn-default'  %>
		<% end %>
	<% else %>
		<%= "Already pulled Tweets" %>
	<% end %>
<br>

<% if (@twitter_count > 0 || @facebook_count > 0) %>
	<p class="fb-link"><%= link_to "Analyze Twitter and Facebook Data", analyze_data_path %></p>
<% end %>

	<%= form_for @user do |f| %>
		<div class="form-group">
			<%= f.label :avatar %>
			<%= f.file_field :avatar, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :username %>
			<%= f.text_field :username, class: "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.submit "Submit", class: 'btn btn-default' %>
		</div>
	<% end %>
</div>
