<h1>Personality Descriptions</h1>

<%= form_for :personality_descriptions, url: '/personality_descriptions' do |f| %>

  category: <%= f.text_field :category %>
  subcategory: <%= f.text_field :subcategory %>
  attribute_name: <%= f.text_field :attribute_name %>
  low_term: <%= f.text_field :low_term %>
  low_description: <%= f.text_field :low_description %>
  high_term: <%= f.text_field :high_term %>
  high_description: <%= f.text_field :high_description %>
  <%= f.submit "Submit" %>

<% end %>