<!DOCTYPE html>
<html>
<head>
  <title>Watson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h1>Tweet#index</h1>

<div id="tweets">
  <ul>
    <% Tweets.public_tweets.each do |tweet| %>
      <li><%= tweet.text %> <%= tweet.user.username %> </li>
    <% end %>
  </ul>
</div>


</body>
</html>
